<h2 align="center">{{ getMonthName() }}</h2>

<mat-card class="budget-section">
  <div class="budget-header">
    <h3>Monthly Budget: <b>{{budget.totalBudget}} лв</b></h3>
    <h3>{{budget.totalBudget - budget.totalSpent}} лв remaining</h3>
  </div>
  <mat-progress-bar color="primary" mode="determinate"
    [value]="getPercentageSpent(budget.totalSpent, budget.totalBudget)"></mat-progress-bar>
</mat-card>

<mat-card class="categories-section">
  <div class="categories-header">
    <h3>Spending by Category</h3>
    <div>
      <button mat-icon-button color="primary" matTooltip="Add new expense" (click)="openAddBudgetCategoryDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="categories" class="mat-elevation-z8">
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="spent">
      <th mat-header-cell *matHeaderCellDef> Spent </th>
      <td mat-cell *matCellDef="let element"> {{element.totalAmountSpent ? element.totalAmountSpent : 0}} лв</td>
    </ng-container>

    <ng-container matColumnDef="remaining">
      <th mat-header-cell *matHeaderCellDef> Budget Left </th>
      <td mat-cell [ngStyle]="{'color': element.categoryBudget - element.totalAmountSpent < 0 ? 'red' : 'green'}"
        *matCellDef="let element">
        {{element.categoryBudget - element.totalAmountSpent}} лв</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Category Budget </th>
      <td mat-cell *matCellDef="let element">
        {{element.categoryBudget}} лв </td>
    </ng-container>

    <ng-container class="progress-bar" matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-progress-bar color="primary" mode="determinate"
          [value]="getPercentageSpent(element.totalAmountSpent, element.categoryBudget)">
        </mat-progress-bar>
        <div align="center" *ngIf="getPercentageSpent(element.totalAmountSpent, element.categoryBudget) > 100">
          Limit exceeded
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

<mat-card class="expenses-section">
  <div class="expenses-header">
    <h3>Expenses</h3>
    <div>
      <div class="wrapper">
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          (page)="onPageChange($event)">
        </mat-paginator>
        <button mat-icon-button color="primary" matTooltip="Add new expense" (click)="openAddExpenseDialog(false)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Show all expense" (click)="goToExpenses()">
          <mat-icon>list</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <table mat-table [dataSource]="recentExpenses" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let expense"> {{expense.createdDate | date:'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let expense"> {{expense.budgetCategoryExpense.category}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let expense"> {{expense.amount}} лв </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let expense"> {{expense.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="expenseColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: expenseColumns;"></tr>
  </table>
</mat-card>

<mat-card class="future-expenses-section">
  <div class="future-expenses-header">
    <h3>Upcoming Expenses</h3>
    <div>
      <button mat-icon-button color="primary" matTooltip="Add new expense" (click)="openAddExpenseDialog(true)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Show all expense" (click)="goToExpenses()">
        <mat-icon>list</mat-icon>
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="upcomingExpenses" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let expense"> {{expense.dueDate | date:'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let expense"> {{expense.budgetCategoryExpense.category}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let expense"> {{expense.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let expense"> {{expense.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="upcomingExpensesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: upcomingExpensesColumns;"></tr>
  </table>
</mat-card>