<h1 mat-dialog-title align="center">Add Expense</h1>
<div mat-dialog-content align="center">
    <form [formGroup]="budgetForm">
        <div class="form-field">
            <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field>
                <mat-label>Year</mat-label>
                <input matInput formControlName="year" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field>
                <mat-label>Month</mat-label>
                <mat-select formControlName="month" required>
                    <mat-option *ngFor="let month of monthOptions" [value]="month.value">
                        {{ month.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>

<div class="mat-dialog-actions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!budgetForm.valid" (click)="onSave()">Save</button>
</div>